<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>

    <p>This is a message from contact form from the guy named <%= "#{@name}, #{@email}" %></p>
    <p> <%= @body %></p>
    
    
  </body>
  
</html>